
.carouselSize {
  height: 630px;
}

.carouselImage {
  width: 100%;
  height: 630px;
}

.userName {
  color: #f26926 !important;
  font-size: 1.8em;
  padding-right: 14px;
  padding-top: 7px;
  height: 100%;
}

.userDiv {
  height: 100%;
  display: inline-block;
}

.userProfilePicture {
  max-width: 7%;
  border-color: #f26926 !important;
  margin-right: 35px
}

.logOutButton {
  height: 40px;
  margin-top: 7px;
}

.createEventButtonDiv {
  padding: 0px;
}

.createEventButton {
  padding: 0px;
  margin: 0px;
}

.coverPhoto {
  padding: 0px 60px;
}

.eventContainer {
  margin-top: 60px;
  padding-bottom: 100px;
}

.eventBox {
  background-color: #989393ba;
  padding: 30px 20px;
  height: 480px;
  margin-bottom: 25px;
}

.eventHeader {
  text-align: center
}

.eventDetailsContainer {
  height: 160px;
  padding: 0% 15%;
}

#locationAddress {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.appFooter {
  height: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d9d9d9;
}

.footerContainer {
  margin-left: auto;
  margin-right: auto;
}

.coverPageContainer {
  text-align: center;
  padding-top: 8%;
}

.coverPageHeader {
  margin-bottom: .5rem;
  font-weight: 500;
  text-shadow: 2px 2px #040404;
  font-family: 'Shojumaru';
  font-size: 200px;
  line-height: 1.1;
  color: #f00;
}

.coverPageHr {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

.coverPageSubtitle {
  text-shadow: 2px 2px #000000;
  color: #ff0000;
}