
body {
  background-image: url("../images/tiesto-music-live-concert.jpg");
  background-size: cover;
  height: auto;
}

.main-page {
  margin-top: 50px;
}

.top-buffer {
  margin-top: 20px;
}

.clickable {
  cursor: pointer;
}

.test {
  background-color: black;
}

.home-login-margin {
  margin-left: 10px;
  margin-right: 10%;
}

.errorMessage {
  color: red;
}

.eventAppLogo {
  width: 45px;
}

.topNavContainer {
  padding: 8px 15%;
}

.middleNavContainer {
  padding: 10px 18%;
  background-color: #d9d9d9 !important;
  margin-bottom: 0px !important;
}

.toastStyle > div {
  background-color: #006900 !important;
}

.navbar-nav > .active {
  background-color: #b7b2b2;
}

.backgroundTransient {
  background-color: #621de800 !important;
  border-color: #00000000 !important;
}

.navbarButton {
  color: white;
  font-size: 1.7rem;
}

#appName {
  font-size: 2.2em;
  font-weight: 500;
  font-family: 'Shojumaru';
  color: #f00;
}

.carouselHeader {
  font-size: 2.75rem;
  color: red;
  font-family: 'Shojumaru';
}