<md-dialog class="event-dialog eventDialogContainer" aria-label="Create Event">
  <form ng-cloak name="createEventForm">
    <md-toolbar>
      <div class="md-toolbar-tools bg-dark">
        <h2>Create Your Event</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="container">
          <div class="col-md-12 login-title">
            <h2>Event</h2>
          </div>
          <div ng-show="invalidCreateEventForm" class="singUpAlert">
            <div class="alert alert-danger" role="alert">
              Please fill all mandatory fields.
            </div>
          </div>
          <form>
            <div class="form-row mainInfo">
              <div class="form-group col-md-6">

                <md-input-container class="blockElement">
                  <label>Name</label>
                  <input type="text" id="event-name" ng-model="event.name" required>
                </md-input-container>

                <md-input-container class="blockElement">
                  <label>Category</label>
                  <md-select ng-model="event.category">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="category in categories"
                               ng-value="category" ng-disabled="$index === -1" required>
                      {{category}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="blockElement">
                  <label>Location</label>
                  <input type="text" g-places-autocomplete ng-model="event.location" required />
                </md-input-container>

                <md-input-container class="blockElement maxAttendeesPickerBlock">
                  <label>Max Attendees</label>
                  <input type="number" id="event-max-att" ng-model="event.numberOfPeopleAttending"
                         placeholder="Unlimited" required>
                </md-input-container>

              </div>
              <div class="form-group col-md-6">
                <h3 class="col-form-label cover-photo-header">Cover Photo</h3>
                <div class="margin-bottom-up-10">
                  <p>Select a event cover photo:</p>
                  <image-upload image="myImage" />
                </div>
                <div class="cropArea maxSizePercentage">
                  <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                </div>

                <span class="progress" ng-show="progress >= 0">
                <div ng-style="myStyle" ng-bind="progress + '%'"></div>
                  </span>
                  <span ng-show="result">Upload Successful</span>
                  <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </div>
            </div>
            <div class="form-row eventDatePickerFrom">
              <div class="form-group col-md-12">
                <md-input-container class="eventDatePickerBlock">
                  <h6 class="eventDateHeader">Start date</h6>
                  <md-datepicker ng-model="event.startDate" md-placeholder="Start date" class="eventDatePicker"
                                 md-open-on-focus required></md-datepicker>
                  <md-time-picker  ng-model="event.startTime" message="message" read-only="readonly"
                                   class="eventDatePicker"
                                   mandatory="required" no-meridiem no-auto-switch required></md-time-picker>
                </md-input-container>

                <md-input-container class="eventDatePickerBlock">
                  <h6 class="eventDateHeader">End date</h6>
                  <md-datepicker ng-model="event.endDate" md-placeholder="End date" class="eventDatePicker"
                                 md-open-on-focus required></md-datepicker>
                  <md-time-picker  ng-model="event.endTime" message="message" read-only="readonly"
                                   class="eventDatePicker"
                                   mandatory="required" no-meridiem no-auto-switch required></md-time-picker>
                </md-input-container>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12 descriptionBox">
                <div layout="row">
                  <md-input-container>
                    <label>Description</label>
                    <textarea rows="4" cols="100" ng-model="event.description" required></textarea>
                  </md-input-container>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" class="eventDialogActions">
      <md-button class="md-raised" ng-click="cancel()">
        Cancel
      </md-button>
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="createEvent(createEventForm.$invalid)" md-autofocus>
        Create
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>