<md-dialog aria-label="Create Event" style="width: 600px">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools bg-dark">
        <h2>Create Your Event</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="container">
          <div class="col-md-12 login-title">
            <h2>Event</h2>
          </div>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <md-input-container>
                  <label>Name</label>
                  <input id="event-name" ng-model="event.name">
                </md-input-container>
              </div>
              <div class="form-group col-md-6">
                <label class="col-form-label">Cover Photo</label>
                <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
                     class="cropArea">
                  <img-crop image="event.coverPhoto  +| ngfDataUrl"
                            result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                  </img-crop>
                </div>
                <button ng-click="upload(croppedDataUrl, picFile.name)">Submit</button>

                <span class="progress" ng-show="progress >= 0">
                <div ng-style="myStyle" ng-bind="progress + '%'"></div>
                  </span>
                  <span ng-show="result">Upload Successful</span>
                  <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <md-input-container>
                  <label>Category</label>
                  <md-select ng-model="event.category">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="category in categories"
                               ng-value="category" ng-disabled="$index === -1">
                      {{category}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <md-card-content>
                  <div layout="row">
                    <md-input-container>
                      <label>Location</label>
                      <md-select ng-model="event.location">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="location in locations"
                                   ng-value="location" ng-disabled="$index === -1">
                          {{location}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </md-card-content>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <div layout="row">
                  <md-input-container>
                    <md-datepicker ng-model="event.startDate" md-placeholder="Enter start date"
                                   md-open-on-focus></md-datepicker>
                  </md-input-container>
                </div>
              </div>
              <div class="form-group col-md-6">
                <div layout="row">
                  <md-time-picker  ng-model="event.startTime" message="message" read-only="readonly"
                                  mandatory="required" no-meridiem no-auto-switch></md-time-picker>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <div layout="row">
                  <md-input-container>
                    <md-datepicker ng-model="event.endDate" md-placeholder="Enter start date"
                                   md-open-on-focus></md-datepicker>
                  </md-input-container>
                </div>
              </div>
              <div class="form-group col-md-6">
                <div layout="row">
                  <md-time-picker ng-model="event.endTime" message="message" read-only="readonly"
                                  mandatory="required" no-meridiem no-auto-switch></md-time-picker>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised" ng-click="cancel()">
        Cancel
      </md-button>
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="createEvent()" md-autofocus>
        Create
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>