<div class="container eventContainer">
  <div class="row">
    <div ng-repeat="event in events" class="col-lg-4" >
      <div class="eventBox">
        <img src="data:image/png;base64,{{event.coverPhoto}}"  class="rounded-circle coverPhoto" />
        <h2 class="eventHeader"> {{event.name}} </h2>
        <div class="eventDetailsContainer">
          <p id="locationAddress"> {{event.location.address}} </p>
          <p> Starts: {{event.startTime}} </p>
          <p> Ends: {{event.endTime}} </p>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Details <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
