<nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3 middleNavContainer"
     style="background-color: #d9d9d9 !important;">
  <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav text-md-center nav-justified w-100">
      <li class="nav-item" ng-class="{active: $root.userHome}" >
        <a class="nav-link" href="{{$root.localhost + '#!/userHome'}}">Home</a>
      </li>
      <li class="nav-item" ng-class="{active: !$root.userHome}" >
        <a class="nav-link" href="{{$root.localhost + '#!/myEvents'}}">My events</a>
      </li>
      <li class="nav-item">
        <div class="md-padding dialogdemoBasicUsage createEventButtonDiv" id="popupContainer" ng-cloak="">
          <md-button class="createEventButton" ng-click="showAdvanced($event)">
            Create
          </md-button>
        </div>
      </li>
    </ul>
  </div>
</nav>