<div class="container">
  <div class="col-md-12 login-title">
    <h2>Sing Up</h2>
  </div>

  <div ng-show="userAlreadyExist" class="singUpAlert">
    <div class="alert alert-danger" role="alert">
     User with this email already exist. Please enter another email.
    </div>
  </div>

  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="signup-fistName" class="col-form-label">Name</label>
        <input type="text" class="form-control" id="signup-fistName"
               placeholder="Name" ng-model="user.firstName">
      </div>
      <div class="form-group col-md-6">
        <label for="signup-lastName" class="col-form-label">Surname</label>
        <input type="text" class="form-control" id="signup-lastName"
               placeholder="Surname" ng-model="user.lastName">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="signup-email" class="col-form-label">Email</label>
        <input type="email" class="form-control" id="signup-email"
               placeholder="Email" ng-model="user.email">
      </div>
      <div class="form-group col-md-6">
        <label for="signup-password" class="col-form-label">Password</label>
        <input type="password" class="form-control" id="signup-password"
               placeholder="Password" ng-model="user.password">
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label">Address</label>
      <input type="text" class="form-control" placeholder="Your address"
             g-places-autocomplete ng-model="user.location" />
    </div>

    <button class="btn btn-primary" ng-click="signUp(loginForm.$invalid)">Sign Up</button>
  </form>
</div>