<nav class="navbar navbar-expand-lg navbar-dark bg-dark topNavContainer"
      ng-controller="HomeController">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img  src="./images/event-app-logo.png" class="eventAppLogo">
  <a class="navbar-brand" href="#">Evento</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#/home" ng-click="checkLoginState()">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline home-login-margin">
      <div class="row">
        <a class="btn btn-success" href="#!/login" ng-if="$root.user == null" >Log In</a>
        <div class="userDiv" ng-show="$root.user != null ">
          <a class="userName">{{$root.user.firstName}}</a>
          <img src="./images/profile-picture.jpg" alt="..." class="border rounded-circle userProfilePicture">
        </div>
        <a class="btn btn-success logOutButton" ng-click="logOut()" ng-show="$root.user != null " >Log Out</a>
      </div>
    </form>
    <form class="form-inline my-2 my-lg-0 home-login-margin" ng-if="$root.user == null">
      <a class="btn btn-warning my-2 my-sm-0" href="#!/signUp" >Sign up</a>
    </form>
    <form class="form-inline my-2 my-lg-0 home-login-margin" ng-if="$root.user == null">
      <div class="fb-login-button" data-max-rows="1" data-size="large"
           data-button-type="continue_with"
           data-show-faces="false" data-auto-logout-link="false"
           data-use-continue-as="true"
           ng-click="checkLoginState()"></div>
    </form>
  </div>
</nav>